@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 521px) {
  body .flexbox-personlig-heading-container {
    width: 80% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 865px) {
  body .flexbox-personlig-heading-container {
    width: 90%;
  }
}
/* Medium devices max width (landscape tablets, 768px and up) */
@media only screen and (max-width: 1030px) {
  body .flexbox-personlig-heading-container {
    width: 70%;
  }

  body #personlig-image {
    padding: 25px;
  }

  body .flexbox-personlig-outer-container {
    flex-direction: column;
    height: 100%;
    width: 100vw;
    /* border: 2px solid red; */
  }

  body .flexbox-personlig-image-container {
    order: 2;
  }

  body .flexbox-personlig-button-container {
    /* padding-bottom: 5%; */
    width: 80%;
    height: 70%;
    /* margin-bottom: 5%; */
    /* border: 2px solid red; */
  }
}
/* Switch for img */
img { max-width: 100%; height: auto; }

.flexbox-personlig-outer-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background-color: #D9D9D9;
  padding: 50px 0;
}

.flexbox-personlig-text-container {
  display: flex;
  position: relative;
  width: 45vw;
  height: 300px;
  text-align: left;
}

.flexbox-personlig-heading-container {
  /* border: 2px solid green; */
  display: flex;
  position: relative;
  flex-direction: column;
  width: 40%;
  max-width: 688px;
  height: 65%;
}

.flexbox-personlig-heading-container h3 {
  width: 90%;
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  font-weight: 100;
  color: #595959;
}

.flexbox-personlig-heading-container p {
  width: 100%;
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: black;
  padding-right: 5%;
}

.flexbox-personlig-paragraph-container {
  width: 100%;
}

.flexbox-personlig-button-container {
  width: 45%;
  height: 25%;
  padding-top: 3%;
}

.flexbox-personlig-button-container button {
  background-color: #595959;
  border: none;
  width: 80%;
  height: 70%;
  min-height: 30px;
  max-width: 215px;
  min-width: 200px;
}

.flexbox-personlig-button-container button a {
  width: 80%;
  height: 70%;
  background-color: #595959;
  color: white;
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  border: none;
}

.flexbox-personlig-button-container button:hover {
  background-color: #BFBFBF;
}

.flexbox-personlig-button-container button:hover a {
  background-color: #BFBFBF;
  color: black;
}

.flexbox-personlig-image-container img {
  height: 325px;
  width: 520px;
}