@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

ul.utrustning-bullet li {
  list-style-image: url(../../images/icons/red-bullet-12x12.png);
  display: list-item;
  /* border: 3px solid cyan; */
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: black;
  justify-content: center;
}

.flexbox-utrustning-outer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 2000px;
  margin-left: -155px;

}

.flexbox-utrustning-heading-container {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  justify-content: center;
}

.flexbox-utrustning-heading-container h2 {
  font-family: "Evogria";
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  color: #595959;
  text-align: left;
  /* border: 3px solid red; */
  width: 50vw;
  font-style: normal;
  margin: 33px 0px 20px;
}

.flexbox-utrustning-heading-container p {
  /* border: 3px solid purple; */
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 20px;
  width: 75vw;
  line-height: 29px;
  font-weight: 400;
  color: #595959;
  text-align: left;
  font-style: normal;
  margin: 23px 0px 20px;
}

.flexbox-utrustning-top-container {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}

.flexbox-utrustning-bottom-container {
  display: flex;
  flex-direction: row;
}

.flexbox-utrustning-item {
  display: block;
  flex-direction: row;
  padding: 20px;
  padding-top: 5%;
  text-align: left;
  align-items: center;
}

.flexbox-utrustning-item h4 {
  /* border: 3px solid yellow; */
  font-family: "Evogria";
  font-size: 25px;
  line-height: 35px;
  font-weight: 100;
  color: #595959;
}

.flexbox-utrustning-item-3, .flexbox-utrustning-item-4 {
  padding: 56px 2%;
}

#xrs-icon, #xrm-icon, #xrl-icon, #xrx-icon {
  height: 51px;
  width: 80px;
}

#xrs-car, #xrm-car, #xrl-car, #xrx-car {
  height: 288px;
  width: 520px;
}

.ui.animated.button {
  color: white;
  background-color: #595959;
  font-family: "Evogria";
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  margin-top: 10%;
}