@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 900px) {
  body .flexbox-info-item {
    /* border: 2px solid blue !important; */
    width: 50% !important;
    height: 70%;
  }

  body .flexbox-info-image {
    padding-bottom: 25% !important;
  }
}
/* Medium devices max width (landscape tablets, 768px and up) */
@media only screen and (max-width: 1030px) {
  body .flexbox-info-container {
    flex-direction: column;
    align-items: space-between !important;
    height: 100%;
    width: 100vw;
    /* border: 2px solid red; */
    padding-top: 5%;
    padding-bottom: 5%;
  }

  body .flexbox-info-item {
    width: 40%;
    height: 70%;
    margin: 20px 0;
    /* border: 2px solid red; */
  }

  body .flexbox-info-image {
    padding-bottom: 10%;
  }

  body . {

  }

  body . {

  }

  body . {

  }
  
}

img { max-width: 100%; height: auto; }

.flexbox-info-container {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 0;
  /* border: 3px solid red; */
  background-color: #595959;
  width: 100vw;
  height: 420px;
  /* margin-left: -157px; */
  justify-content: flex-start;
  align-items: center;
}

.flexbox-info-item {
  /* border: 2px solid red; */
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.flexbox-info-item h1 {
  /* margin-top: 15%; */
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-size: 30px;
}

.flexbox-info-item p {
  font-size: 16px;
}

.flexbox-info-item-1 {

}

.flexbox-info-item-2 {
  
}

.flexbox-info-item-3 {
  
}

.flexbox-info-item-4 {
  
}

.flexbox-info-image {
  width: 75%;
  height: 95.22px;
}
