@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  body #clc-heading {
    /* border: 2px solid blue; */
    width: 90%;
  }

  body #as-heading {
    /* border: 2px solid blue; */
    width: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 900px) {
  body .flexbox-info-item {
    /* border: 2px solid blue !important; */
    width: 50% !important;
    height: 70%;
  }

  /* body .flexbox-info-image {
    padding-bottom: 25% !important;
  } */
}
/* Medium devices max width (landscape tablets, 768px and up) */
@media only screen and (max-width: 1520px) {
  body .flexbox-info-container {
    flex-direction: column;
    align-items: space-between !important;
    height: 100%;
    width: 100vw;
    /* border: 2px solid red; */
    padding-top: 5%;
    padding-bottom: 5%;
  }

  body .flexbox-info-item {
    width: 40%;
    height: 70%;
    margin: 40px 0;
    /* border: 2px solid red; */
  }

  /* body .flexbox-info-image {
    padding-bottom: 0px;
  } */
}

img { max-width: 100%; height: auto; }

.flexbox-info-container {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 0;
  /* border: 3px solid red; */
  background-color: #595959;
  width: 100vw;
  height: 100%;
  /* height: 420px; */
  /* margin-left: -157px; */
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.flexbox-info-item {
  /* border: 2px solid red; */
  width: 20%;
  min-width: 372px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  margin: 30px 0;
}

.flexbox-info-item-text-container {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox-info-item-text-container h1 {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: white;
  /* margin-top: 15%; */
  /* min-width: 350px; */
}

.flexbox-info-item-text-container p {
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: white;
}

.flexbox-info-image {
  /* border: 2px solid blue; */
  width: 75%;
  /* height: 95.22px; */
}

.flexbox-info-image {
  min-width: 125px;
}