@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 1277px) {
  body .flexbox-utrustningsniva-inner-container {
    flex-direction: column;
    width: 100%;
  }

  body .flexbox-utrustningsniva-text-container {
    width: 50%;
    min-width: unset;
  }

  body .flexbox-utrustningsniva-image-container {
    width: 50%;
  }
}

.flexbox-utrustningsniva-outer-container {
  width: 100vw;
  /* height: 500px; */
  height: 100%;
  background-color: #D9D9D9;
  justify-content: center;
  display: flex;
  padding: 50px 0;
}

.flexbox-utrustningsniva-inner-container {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 100%;
  max-width: 1500px;
  /* padding-bottom: 5%; */
}

.flexbox-utrustningsniva-text-container {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 500px;
  height: 100%;
  text-align: left;
  /* padding-top: 5%; */
}

.flexbox-utrustningsniva-heading-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexbox-utrustningsniva-heading-container-1 h3 {
  color: #595959;
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  font-weight: 100;
}

.flexbox-utrustningsniva-paragraph-container p {
  color: black;
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
}

.flexbox-utrustningsniva-heading-container-2 h4 {
  color: #595959;
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 25px;
  line-height: 35px;
  font-weight: 100;
}

.flexbox-utrustningsniva-paragraph-container {
  padding-top: 3%;
  padding-bottom: 5%;
}

ul.utrustningsniva-bullet li {
  list-style-image: url(../../../images/icons/red-bullet-12x12.png);
  display: list-item;
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: black;
  justify-content: left;
  padding: 0;
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;
}

ul.utrustningsniva-bullet {
  padding: 0;
  padding-left: 5%;
  padding-top: 3%;
}

.utrustningsniva-bullet {
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flexbox-utrustningsniva-text-container button {
  border: none;
  background-color: #404040;
  height: 50px;
  width: 40%;
  min-width: 200px;
  max-width: 215px;
}

.flexbox-utrustningsniva-text-container button a {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: white;
  background-color: #404040;
  width: 40%;
  height: 60px;
  border: none;
}

.flexbox-utrustningsniva-text-container button:hover {
  background-color: #BFBFBF;
  color: black;
}

.flexbox-utrustningsniva-text-container button:hover a {
  background-color: #BFBFBF;
  color: black;
}



.flexbox-utrustningsniva-image-container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  width: 520px;
}

#utrustningsniva-icon {
  /* height: 51px; */
  height: auto;
  width: 80px;
}

#utrustningsniva-image {
  /* height: 288px; */
  height: auto;
  width: 520px;
}