@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

.flexbox-modeller-outer-container {
  border: 2px solid blue;
  background-color: white;
  height: 400px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.flexbox-modeller-container {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 245px;
  justify-content: space-evenly;
  align-items: center;
}

.flexbox-modeller-item {
  width: 200px;
  height: 100%;
  text-align: center;
}

.flexbox-modeller-item a h2 {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 25px;
  line-height: 35px;
  font-weight: 100;
  color: black;
  margin-bottom: 0;
}

.flexbox-modeller-item a p {
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: black;
}

#modeller-single-cab-image, #modeller-extended-cab-image, #modeller-double-cab-image {
  height: 121px;
  width: 193px;
}