@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@media only screen and (max-width: 775px) {
  body .flexbox-fargerdouble-item img {
    /* border: 2px solid blue; */
    width: 100% !important;
    height: auto !important;
  }

  body .flexbox-fargerdouble-item {
    width: 50%;
    min-width: 300px;
  }
}

@media only screen and (max-width: 1150px) {
  body .flexbox-fargerdouble-top-item-container {
    /* border: 2px solid blue; */
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    margin: 14px 0;
  }

  body .flexbox-fargerdouble-bottom-item-container {
    /* border: 2px solid blue; */
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
  }

  body .flexbox-fargerdouble-item {
    /* border: 2px solid red; */
    max-width: unset;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-bottom: 50px;
  }

  body .flexbox-fargerdouble-item img {
    width: 360px;
    height: 199px;
  }

  body .flexbox-fargerdouble-heading-container p {
    padding-left: unset;
  }
}

.flexbox-fargerdouble-outer-container {
  /* border: 2px solid red; */
  background-color: white;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.flexbox-fargerdouble-heading-container {
  /* border: 2px solid greenyellow; */
  width: 70%;
  min-width: 290px;
}

.flexbox-fargerdouble-heading-container h2 {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  padding-top: 2%;
  width: 50vw;
  color: #595959;
  text-align: left;
  padding-top: 0;
}

.flexbox-fargerdouble-heading-container p {
  /* border: 2px solid red; */
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  padding-left: 75px;
}

.flexbox-fargerdouble-top-item-container {
  /* border: 2px solid blue; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1500px;
  margin: 14px 0;
}

.flexbox-fargerdouble-bottom-item-container {
  /* border: 2px solid blue; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1500px;
}

.flexbox-fargerdouble-item {
  /* border: 2px solid red; */
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.flexbox-fargerdouble-item-color {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
  color: #595959;
}

.flexbox-fargerdouble-item img {
  width: 240px;
  height: 133px;
}