@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(./fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(./fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

:root {
  /* height: 161%; */
  /* height: 100%; */
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: rgb(158, 158, 158) !important;
  background-color: rgb(248, 248, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body .navbar-container{

  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  body .navbar-container{

  }
}
/* Medium devices max width (below was 768, landscape tablets, 768px and up) */
@media only screen and (max-width: 1200px) {
  body .navbar-container{
    background-color: white;
    height: 60px;
    /* border: 2px solid blue; */
  }

  body .mobile-navigation {
    /* border: 2px solid red; */
    background-color: black;
    /* width: 100%; */
    /* height: 35%; */
  }

  body .topnav-mobile-hamburger {
    display: fixed;
    padding-top: 17px;
    margin-left: 10px;
    z-index: 10;
    
  }

  body .topnav-mobile-images {

  }

  body .topnav-mobile-images #mobility-logo {

  }

  body .topnav-mobile-images #isuzu-logo {

  }
  
}

/* img { max-width: 100%; height: auto; } */


.flexbox-content-wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  padding-top: 60px;
  padding-bottom: 620px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation Bar, name and slogan. */

/* #navbar-row-mobility,
#navbar-row-motors,
#navbar-row-maxus {
  margin-top: 1em;
  margin-bottom: 1em;
  color: black;
  font-family: "Eina01-Regular";
} */

#footer {
  margin-top: 10%;
}

#mobility-logo {
  border: 2px solid red;
  margin-top: 18%;
  padding-left: 20%;
  height: 50%;
  width: 100%;
}

#isuzu-logo {
  border: 2px solid red;
  margin-top: 15%;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: 60%;
}

#navbar-row-slogan {
  padding-top: 1%;
}

.topnav-mobile-hamburger {
  display: inline;
  position: fixed;
  top: 0;
}

.mobile-nav-outer-container {
  height: 60px;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.mobile-navigation {
  /* border: 2px solid blue; */
  /* height: 47%; */
  width: 100%;
}

/* display: flex;
flex-direction: column;
height: 50px;
width: 100%;
justify-content: flex-end; */

.mobile-navigation ul {
  display: none;
  background-color: #c31631;
  border: 2px solid black;
  height: 50vh;
  width: 50vw;
  min-width: 220px;
  max-width: 265px;
  /* margin-top: 46px; */
  position: absolute;
  padding-top: 25px;
}

.mobile-navigation ul li {
  list-style-type: none;
  padding-right: 10px;
  /* padding-top: 45px; */
  width: 100%;
  height: 10%;
}

.mobile-navigation ul li a {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: white;
  display: block;
  width: 105%;
  height: 35px;
  /* padding-top: 20px; */
}

.mobile-navigation ul li:hover a {
  color: black;
}

.mobile-navigation-under {
  /* border: 2px solid red; */
  background-color: white;
  height: 63%;
}

.navbar-container {
  /* border: 2px solid red; */
  position: fixed;
  top: 0;
  background: #ffff;
  /* border-bottom: 1px dotted #ccc; */
  height: 70px;
  width: 100%;
  z-index: 10;
}

/* Navigation Bar Sub Menu */

#navbar-navigation-menu {
  justify-content: center;
  text-transform: capitalize !important;
  /* background-color: #c31631; */
  background-color: black;
  height: 80px;
}

#navbar-navigation-menu-modeller, #navbar-navigation-menu-tillbehor, #navbar-navigation-menu-om-oss, #navbar-navigation-menu-provkorning, #navbar-navigation-menu-anlaggningar, #navbar-navigation-menu-kontakt {
  color: white;
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-weight: 100;
}

#navbar-navigation-menu-modeller:hover, #navbar-navigation-menu-tillbehor:hover, #navbar-navigation-menu-om-oss:hover, #navbar-navigation-menu-provkorning:hover, #navbar-navigation-menu-anlaggningar:hover, #navbar-navigation-menu-kontakt:hover {
  color: #c31531;
}

.flexbox-navigationbar-menu-logo-container {
  /* border: 2px solid red; */
  background-color: white;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  /* margin-left: 30px; */
  margin-top: 30px;
  margin-left: 20px;
  position: fixed;
}

.flexbox-navigationbar-menu-logo:hover {
  background-color: #C40928;
  cursor: pointer;
}

.flexbox-navigationbar-menu-logo img {
  height: 28px;
  width: 188px;
}

.flexbox-navigationbar-menu-logo-message-container {
  /* border: 2px solid blue; */
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  /* margin-left: 30px; */
  /* margin-top: 20px; */
}

.flexbox-navigationbar-menu-message-container {
  /* border: 2px solid red; */
  margin-top: 20px;
  width: 200px;
  height: 100%;
}

.flexbox-navigationbar-menu-message-container p {
  color: white;
}

/* Main Page Video, Text and Scroll Indicator */

#nyadmax {
  position: relative;
  z-index: 0;
  object-fit: cover;
  /* max-width: 100%; */
  height: auto;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 50;
}

/* .video-container {
  position: relative;
  height: 675px;
  overflow: hidden;
  padding-bottom: 50%;
  margin-top: 0;
  z-index: 0;
  width: 100%;
} */

.video-container {
  position: relative;
}

.text-overlay {
  /* border: 2px solid red; */
  position: absolute;
  width: 25%;
  height: 25%;
  color: white;
  /* backdrop-filter: blur(0px); */
  font-size: 10px;
  bottom: 10%;
  left: 3%;
  z-index: 1;
}

.text-overlay button {
  background-color: #c31631;
  border: 1px solid black;
  max-width: 100%;
  /* height: 35%; */
  max-height: 100%;
}

.text-overlay button a {
  background-color: #c31631;
  color: white;
  position: relative;
  max-width: 100%;
  height: 100%;
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

#provkorning-btn {
  background-color: #c31631;
  border: 2px solid black;
  color: white;
  /* font-size: 2em !important; */
  position: relative;
  width: 35%;
  margin-top: 7%;
  /* min-height: 0 !important; */
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.ec-text-wrapper {
  color: white;
  position: absolute;
  margin-top: -350px;
  padding-left: 25px;
  max-width: 960px;
}


/* Old Main Page */
/* .ec-image-wrapper {
  width: 100%;
  left: 0;
  margin-left: 0;
  font-size: 0;
  position: relative;
  height: auto;
} */

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#contact-header {
  padding-top: 75px;
}

/* Main Footer */

/* #main-footer {
  height: 30px;
  position: fixed;
  padding-top: 1px;
  bottom: 0;
  z-index: 2;
} */

#main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}

/* Finally */

#finally-img {
  width: 300px;
  float: right;
}

.ui.menu .dropdown.item .menu {
  width: 400%;
  background-color: #9b9b9b;
}

#navbar-navigation-menu > div.ui.menu {
  background-color: #9b9b9b;
  border: 2px solid blue;
 }

 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}