@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

.flexbox-anlaggningar-outer-container {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.flexbox-anlaggningar-heading-container {
  display: flex;
  /* border: 2px solid blue; */
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.flexbox-anlaggningar-heading-container h2 {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  font-weight: 100;
  color: black;

}

.flexbox-anlaggningar-container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 70%;
  padding-top: 3%;
}

.flexbox-anlaggningar-item {
  /* border: 2px solid yellow; */
  height: 100%;
}

.flexbox-anlaggningar-text-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  width: 300px;
  height: 100%;
}

.flexbox-anlaggningar-branch-container {
  /* border: 2px solid red; */
  width: 75%;
  padding-bottom: 5%;
}

.flexbox-anlaggningar-address-container {
  display: flex;
  flex-direction: column;
}

.flexbox-anlaggningar-address-container span, a {
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;  
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: black;
}

.flexbox-anlaggningar-button-container {
  width: 75%;
  padding-top: 3%;
}

.flexbox-anlaggningar-button-container button {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: white;
  background-color: #404040;
}

.flexbox-anlaggningar-text-container h3 {
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 25px;
  line-height: 35px;
  font-weight: 100;
  color: black;
}