@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@media only screen and (max-width: 400px) {
  body .flexbox- {
    
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 505px) {
  body .flexbox- {

  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 595px) {
  body .flexbox-utrustning-heading-container {
    width: 90% !important;
  }
} */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 805px) {
  body .flexbox- {
    
  }
}
/* Medium devices max width (landscape tablets, 768px and up) */
@media only screen and (max-width: 1265px) {
  body .flexbox-farger-top-container {
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    /* justify-content: center; */
    width: 100vw;
    /* height: 700px; */
  }

  body .flexbox-farger-bottom-container {
    flex-direction: column;
    align-items: center;
    /* padding-top: 8%; */
    width: 100vw;
    /* height: 800px; */
  }

  body .flexbox-farger-heading-container {
    margin-top: 7%;
    height: 160px;
  }

  body .flexbox-farger-heading-container h2 {
    padding-top: 5%;
  }

  body .flexbox-farger-heading-container p {
    margin-bottom: 5%;
    /* border: 2px solid red; */
    width: 90%;
  }

  body .farger-cover-container {
    height: 10px;
    /* border: 1px solid red; */
  }

  body .flexbox-farger-item {
    /* border: 2px solid blue; */
    flex-direction: row;
    align-items: center;
  }

  body .color-name {
    /* width: 500px; */
    height: 30px;
    margin-bottom: 10%;
    padding-right: 1%;
    /* border: 2px solid red; */
  }

  body #splash-white, #silky-white-pearl, #mercury-silver, #obsidian-gray {
    margin-top: 0;
  }

  body #silky-white-pearl {
    margin-top: 0;
  }

  body #mercury-silver {
    margin-top: 0;
  }

  body #obsidian-gray {
    margin-top: 0;
  }
}

.flexbox-farger-top-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  overflow: hidden;
  width: 100vw;
  height: 100%;
  padding-top: 5%;
  /* margin-top: 3%; */
  /* margin-left: -170px; */
  /* padding-left: 12%; */
  background-color: #D9D9D9;
}

.flexbox-farger-bottom-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  overflow: hidden;
  width: 100vw;
  height: 100%;
  /* margin-left: -170px; */
  /* padding-left: 12%; */
  background-color: #D9D9D9;
}

.flexbox-farger-filler-container {
  position: relative;
  /* float: left; */
  background-color: #D9D9D9;
  width: 13vw;
  height: 151px;
  /* margin-left: -180px; */
}

.flexbox-farger-main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  /* border: 2px solid red; */
  width: 100vw;
  height: 100%;
}

.flexbox-farger-heading-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  width: 80vw;
  height: 151px;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* margin-left: 2%; */
}

.flexbox-farger-heading-container h2 {
  font-family: "Evogria";
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  padding-top: 2%;
  width: 50vw;
  color: #595959;
  /* text-align: left; */
}

.flexbox-farger-heading-container p {
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  width: 60vw;
  height: 100%;
  padding-left: 3%;
}

.flexbox-farger-image-container {
  display: block;
  position: relative;
  overflow: visible;
  /* z-index: 5; */
  /* background-color: pink; */
}

.farger-cover-container {
  /* border: 2px solid red; */
  background-color: #D9D9D9;
  position: relative;
  height: 100px;
  width: 100vw;
  /* margin-left: -155px; */
}

.flexbox-farger-item {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  /* float: bottom; */
  min-width: 240px;
  width: 100%;
  margin: 7% 15px 4% 5%;
  margin-top: 0%;
}

.color-name {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  /* bottom: 0px; */
  color: #6e6060;
  font-family: "Evogria", "Roboto-Condensed", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
  padding-bottom: 10px;
  width: 100%;
}

#splash-white, #silky-white-pearl, #mercury-silver, #obsidian-gray, #valencia-orange, #red-spinel, #sapphire-blue, #onyx-black {
  height: 133px;
  width: 240px;
  /* min-height: 65px;
  min-width: 120px; */
  /* display: block; */
  /* padding-bottom: 5%; */
}

#splash-white, #silky-white-pearl, #mercury-silver, #obsidian-gray {
  margin-top: -25%;
}