@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

.flexbox-hyttstorlekar-outer-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 1035px;
  margin-left: -157px;
  background-color: #595959;
}

.flexbox-hyttstorlekar-heading-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: left;
}

.flexbox-hyttstorlekar-heading-container h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-family: "Evogria";
  padding-top: 5%
}

.flexbox-hyttstorlekar-heading-container p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  padding-left: 9.5%;
  padding-right: 9.5%;
}

.flexbox-hyttstorlekar-container {
  display: flex;
  position: relative;
  padding-top: 2%;
  margin-left: 150px;
  width: 80vw;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.flexbox-hyttstorlekar-item {
  display: block;
  flex-direction: row;
  padding: 20px;
  padding-top: 5%;
  text-align: left;
  align-items: center;
  font-family: "Eina01-Regular";
}

.flexbox-hyttstorlekar-item p {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
}

.flexbox-hyttstorlekar-item h3 {
  font-family: "Evogria";
  font-size: 35px;
  line-height: 45px;
  font-weight: 100;
  color: #ffffff;
  font-style: normal;
}

.flexbox-hyttstorlekar-item h4 {
  font-family: "Evogria";
  font-size: 25px;
  line-height: 35px;
  font-weight: 100;
  color: #ffffff;
  font-style: normal;
  margin: 33px 0px 0px;
}

#hyttstorlekar-item-1-h4, #hyttstorlekar-item-2-h4, #hyttstorlekar-item-3-h4 {
  margin: 33px 0px 14px;
} 

/* .flexbox-hyttstorlekar-item .ui.image {
  width: 273px;
  height: 136px;
} */

#hyttstorlekar-image-double, #hyttstorlekar-image-extended, #hyttstorlekar-image-single {
  height: 136px;
  width: 273px;
}

#hyttstorlekar-utrustning-1, #hyttstorlekar-utrustning-2, #hyttstorlekar-utrustning-3 {
  height: 56px;
  width: 333px;
}

#hyttstorlekar-price-1, #hyttstorlekar-price-2, #hyttstorlekar-price-3 {
  height: 63px;
  width: 333px;
}