@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (max-width: 400px) {

}
/* Small devices (portrait tablets and large phones, 590px and up) */
@media only screen and (max-width: 590px) {
  body .flexbox-hyttstorlekar-container {
    width: 100vw !important;
  }
  body .flexbox-hyttstorlekar-item {
    width: 95% !important;
  }
}
/* Medium devices (landscape tablets, 400px and up) */
@media only screen and (max-width: 415px) {
  body .flexbox-hyttstorlekar-item-3 #hyttstorlekar-item-3-h4 {
    min-width: 250px;
  }

  body .flexbox-hyttstorlekar-item-2 #hyttstorlerkar-item-4-h4 {
    min-width: 250px;
  }

  body .flexbox-hyttstorlekar-image-container {
    min-width: 0 !important;
    width: 100%;
  }

  body .flexbox-hyttstorlekar-item p {
    width: 100% !important;
  }
}
/* Medium devices max width (landscape tablets, 768px and up) */
@media only screen and (max-width: 1267px) {
  body .flexbox-hyttstorlekar-container {
    flex-direction: column;
    /* border: 2px solid red; */
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  body .flexbox-hyttstorlekar-outer-container {
    height: 100%;
  }

  body .flexbox-hyttstorlekar-item {
    background-color: #c31631;
    border: 2px solid black;
    height: 100%;
    width: 80%;
    margin-bottom: 10%;
    flex-direction: column;
  }

  body .flexbox-hyttstorlekar-item p {
    width: 90%;
  }

  body .flexbox-hyttstorlekar-item h4 {
    margin: 16px 0px 0px;
  }

  body . {

  }
  
}

img { max-width: 100%; height: auto; }

.flexbox-hyttstorlekar-outer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100%;
  /* margin-left: -157px; */
  background-color: #595959;
  justify-content: center;
  align-items: center;
}

.flexbox-hyttstorlekar-image-container {
  /* border: 2px solid blue; */
  width: 70%;
  min-width: 345px;
}

.flexbox-hyttstorlekar-heading-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: left;
  width: 100%;
  padding-top: 5%;
}

.flexbox-hyttstorlekar-heading-container h1 {
  padding-bottom: 3%;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-family: "Evogria", "Roboto-Condenseed", sans-serif;
}

.flexbox-hyttstorlekar-heading-container p {
  /* border: 2px solid red; */
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  padding-left: 9.5%;
  padding-right: 9.5%;
}

.flexbox-hyttstorlekar-container {
  /* border: 2px solid blue; */
  display: flex;
  position: relative;
  /* margin-left: 150px; */
  width: 80vw;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.flexbox-hyttstorlekar-item {
  /* border: 2px solid greenyellow; */
  display: block;
  flex-direction: row;
  padding: 20px;
  padding-top: 3%;
  width: 100%;
  height: 100%;
  text-align: left;
  align-items: center;
  font-family: "Eina01-Regular";
}

.flexbox-hyttstorlekar-item p {
  /* border: 2px solid blue; */
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  height: 40%;
  /* min-height: 235px; */
  width: 80%;
  margin: 0;
}

.flexbox-hyttstorlekar-item h3 {
  font-family: "Evogria";
  font-size: 35px;
  line-height: 45px;
  font-weight: 100;
  color: #ffffff;
  font-style: normal;
}

.flexbox-hyttstorlekar-item h4 {
  /* border: 2px solid red; */
  font-family: "Evogria";
  font-size: 25px;
  line-height: 35px;
  font-weight: 100;
  color: #ffffff;
  font-style: normal;
  margin: 33px 0px 0px;
  /* width: 60%; */
  min-width: 320px;
}

#hyttstorlekar-item-1-h4, #hyttstorlekar-item-2-h4, #hyttstorlekar-item-3-h4 {
  margin: 33px 0px 14px;
} 

/* .flexbox-hyttstorlekar-item .ui.image {
  width: 273px;
  height: 136px;
} */

#hyttstorlekar-image-double, #hyttstorlekar-image-extended, #hyttstorlekar-image-single {
  height: 136px;
  width: 273px;
}

#hyttstorlekar-utrustning-1, #hyttstorlekar-utrustning-2, #hyttstorlekar-utrustning-3 {
  height: 56px;
  width: 333px;
}

#hyttstorlekar-price-1, #hyttstorlekar-price-2, #hyttstorlekar-price-3 {
  height: 63px;
  width: 333px;
}